In [2]:
import csv
import pymysql.cursors

In [3]:
def write_to_db( query:str ):
    
    """
        This function takes a query and then sends it to the database.
    """
    connection = pymysql.connect(host='localhost',
                                 user='root',
                                 password='',
                                 database='loan',
                                 cursorclass=pymysql.cursors.DictCursor)
    with connection:
        with connection.cursor() as cursor:
            cursor.execute(query)

        connection.commit()

In [4]:
def process_file()->dict:
    
    """This function gets a file name(csv format), 
        reads it and returns the column names, 
        also the records and filename, in a dictionary
    """
    
    header = None # COLUMN NAMES
    records = [] # CORRESPONDING TABLE RECORDS FROM CSV
    
    path = input("Please enter file name or path\n:> ")
    with open(path) as csv_file:
        
        csv_reader = csv.reader(csv_file, delimiter=',')
        line_count = 0
        for row in csv_reader:

            if line_count == 0:
#                 print(f'\t{row[1].ljust(15)} {row[3].ljust(25)} {row[5].ljust(15)}  {row[14].rjust(9)} {row[9].rjust(9)} \n')
                header = row # We assign the first row as the header.
                line_count += 1
            else:
#                 print(f'\t{row[1].ljust(15)} {row[3].ljust(25)} {row[5].ljust(15)}  {row[14].rjust(9)} {row[9].rjust(9)} \n')
                records.append(row) # Here we assign all the other rows to the records list.
                line_count += 1
        print(f'Processed {line_count} lines.')
    
    de_extensioned_filename = path.split(".")[0].replace(" ", "").replace("-", "")
    return dict(colnames = header, records = records, filename = de_extensioned_filename)

In [11]:
# process_file().keys()

In [8]:
def create_table_from_cols(colnames:list, use_name:str)->bool:
    
    """
        This function will allow you to pass in a list of column names, 
        and another string which is the name for the new table,
        It will then create an sql query that would be used to create
        corresponding sql table.
        
        returns boolean (True/False) if task is successful or not respectively.
    """
    
    sql_query = f"CREATE TABLE {use_name} (main_id INT(4) PRIMARY KEY AUTO_INCREMENT NOT NULL" # Creat base query which will be same accross all tables created.
    
    for colname in colnames:
        
        if colname == "": # Deal with column name that are empty
            colname = "unknown_col"
        
        colname = colname.replace(" ", "")
        sql_query += f", {str(colname).strip()} VARCHAR(30)" # Table info for each column name.
    
    sql_query += ");" # Add closing tokens to query
    print(sql_query)
    
    print(sql_query)
    write_to_db(sql_query)
    print(sql_query)
    
    return True

In [43]:
def create_table_data(colnames:list, data:list, use_name:str)->bool:
    
    """
        \nThis function will allow you to pass in a list of column names, 
        and another list containing the respective column data.\n
        
        use_name : Name of table created or to write into\n
        data     : The list of data to be written (Should be a list of lists.)\n
        colnames : The list of column names intended to be written into.\n
        
        These column names would be used to write the corresponding data respectively
        
        returns boolean (True/False) if task is successful or not respectively.
    """
    
    
    
#     print(data)
    
    for row in data:
        sql_query = f"INSERT INTO {use_name} ({','.join(colnames)}) VALUES(" # Creat base query which will be same accross all tables created.
        
        for data in row:
            sql_query += f"'{data}',"
            
        sql_query = sql_query[:-1] + ")"
        
    
        write_to_db(sql_query)
        
    return True

create_table_data(col_names, records, use_name)

True

In [42]:
file_data = process_file()
col_names = file_data["colnames"]
records = file_data["records"]
use_name = file_data["filename"]

create_table_from_cols(col_names, use_name)
create_table_data(col_names, records, use_name)

Please enter file name or path
:> Loan-2022-03-31.csv
Processed 8904 lines.
CREATE TABLE Loan20220331 (main_id INT(4) PRIMARY KEY AUTO_INCREMENT NOT NULL, id VARCHAR(30), customerId VARCHAR(30), currency VARCHAR(30), loanAmount VARCHAR(30), elgible_amount VARCHAR(30), dateOfDisbursement VARCHAR(30), dateOfCollection VARCHAR(30), due_date VARCHAR(30), totalCollectionAmount VARCHAR(30), numberOfRepayments VARCHAR(30), mandateReference VARCHAR(30), loan_disk_id VARCHAR(30), loan_status VARCHAR(30), average_salary VARCHAR(30), loan_obligation VARCHAR(30), monthly_repayment VARCHAR(30), loan_comment VARCHAR(30), paid_amount VARCHAR(30), last_paid_amount VARCHAR(30), last_paid_date VARCHAR(30), outstanding_loan_bal VARCHAR(30), remita_loan_repayment_ref VARCHAR(30), eligible_id VARCHAR(30), repayment_id VARCHAR(30), mandate_close VARCHAR(30), repayment_count VARCHAR(30), loan_percentage_taken VARCHAR(30), eligible_for_top_up VARCHAR(30), topup_eligible_amount VARCHAR(30));
CREATE TABLE Loan20220331 (main_id INT(4) PRIMARY KEY AUTO_INCREMENT NOT NULL, id VARCHAR(30), customerId VARCHAR(30), currency VARCHAR(30), loanAmount VARCHAR(30), elgible_amount VARCHAR(30), dateOfDisbursement VARCHAR(30), dateOfCollection VARCHAR(30), due_date VARCHAR(30), totalCollectionAmount VARCHAR(30), numberOfRepayments VARCHAR(30), mandateReference VARCHAR(30), loan_disk_id VARCHAR(30), loan_status VARCHAR(30), average_salary VARCHAR(30), loan_obligation VARCHAR(30), monthly_repayment VARCHAR(30), loan_comment VARCHAR(30), paid_amount VARCHAR(30), last_paid_amount VARCHAR(30), last_paid_date VARCHAR(30), outstanding_loan_bal VARCHAR(30), remita_loan_repayment_ref VARCHAR(30), eligible_id VARCHAR(30), repayment_id VARCHAR(30), mandate_close VARCHAR(30), repayment_count VARCHAR(30), loan_percentage_taken VARCHAR(30), eligible_for_top_up VARCHAR(30), topup_eligible_amount VARCHAR(30));
CREATE TABLE Loan20220331 (main_id INT(4) PRIMARY KEY AUTO_INCREMENT NOT NULL, id VARCHAR(30), customerId VARCHAR(30), currency VARCHAR(30), loanAmount VARCHAR(30), elgible_amount VARCHAR(30), dateOfDisbursement VARCHAR(30), dateOfCollection VARCHAR(30), due_date VARCHAR(30), totalCollectionAmount VARCHAR(30), numberOfRepayments VARCHAR(30), mandateReference VARCHAR(30), loan_disk_id VARCHAR(30), loan_status VARCHAR(30), average_salary VARCHAR(30), loan_obligation VARCHAR(30), monthly_repayment VARCHAR(30), loan_comment VARCHAR(30), paid_amount VARCHAR(30), last_paid_amount VARCHAR(30), last_paid_date VARCHAR(30), outstanding_loan_bal VARCHAR(30), remita_loan_repayment_ref VARCHAR(30), eligible_id VARCHAR(30), repayment_id VARCHAR(30), mandate_close VARCHAR(30), repayment_count VARCHAR(30), loan_percentage_taken VARCHAR(30), eligible_for_top_up VARCHAR(30), topup_eligible_amount VARCHAR(30));
INSERT INTO Loan20220331 (id,customerId,currency,loanAmount,elgible_amount,dateOfDisbursement,dateOfCollection,due_date,totalCollectionAmount,numberOfRepayments,mandateReference,loan_disk_id,loan_status,average_salary,loan_obligation,monthly_repayment,loan_comment,paid_amount,last_paid_amount,last_paid_date,outstanding_loan_bal,remita_loan_repayment_ref,eligible_id,repayment_id,mandate_close,repayment_count,loan_percentage_taken,eligible_for_top_up,topup_eligible_amount) VALUES('1','r_11083734','NGN','66705','0','12/15/2021 17:33','1/17/2022 22:58','','78710','1','1.01E+11','2579455','1','0','0','0','open','','','','','','6','','0','','0','0','-66705')

True